DB_USERNAME=change_me
DB_PASSWORD=change_me
NOTIFICATION_DB_URL=change_me
MAIL_HOST=change_me
MAIL_PASSWORD=change_me
SMS_PROVIDER=change_me
SMS_API_KEY=change_me
SMS_API_SECRET=change_me
SMS_SENDER_ID=change_me
SMS_ENABLED=false
EMAIL_FROM=change_me
